In [3]:
#fahrenheit
c = float(input("Masukan Celcius "))
f = 9/5 * c + 32
print("Maka nilai fahrenheit adalah ", f)
#reamur
r = 4/5 * c
print("Maka nilai reamur adalah ", r)

Masukan Celcius 50
Maka nilai fahrenheit adalah  122.0
Maka nilai reamur adalah  40.0

In [9]:
#BUAT DATABASE

import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd=""
)

cursor = db.cursor()
cursor.execute("CREATE DATABASE db_Film")

print("Database berhasil dibuat!")

ModuleNotFoundError: No module named 'mysql'

In [10]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="db_Film"
)

cursor = db.cursor()
sql = """CREATE TABLE tblFilm (
    Kode_id INT AUTO_INCREMENT PRIMARY KEY,
    Judul_Film VARCHAR(255),
    Jenis_Film VARCHAR(255),
    Deskripsi_Film VARCHAR(255)
)
"""
cursor.execute(sql)

print("Tabel Film berhasil dibuat")

ModuleNotFoundError: No module named 'mysql'

In [11]:
#CRUDS = Create, Read, Update, Delete, dan Search (JAWABAN TUGAS ASLI)


import mysql.connector
import os

db = mysql.connector.connect(
    host="localhost",
    user="root",
    passwd="",
    database="db_Film"
)

def insert_data(db):
    Judul_Film = input("Masukan judul: ")
    Jenis_Film = input("Masukan genre: ")
    Deskripsi_Film = input("Masukan deskripsi: ")
    val = (Judul_Film, Jenis_Film, Deskripsi_Film)
    cursor = db.cursor()
    sql = "INSERT INTO tblFilm (Judul_Film, Jenis_Film, Deskripsi_Film) VALUES (%s, %s, %s)"
    cursor.execute(sql, val)
    db.commit()
    print("{} data berhasil disimpan".format(cursor.rowcount))
    
def show_data(db):
    cursor = db.cursor()
    sql = "SELECT * FROM tblFilm"
    cursor.execute(sql)
    results = cursor.fetchall()
    
    if cursor.rowcount < 0:
        print("Tidak ada data")
    else:
        for data in results:
            print(data)
            
def update_data(db):
    cursor = db.cursor()
    show_data(db)
    Kode_id = input("pilih id film> ")
    Judul_Film = input("Judul baru: ")
    Jenis_Film = input("Genre baru: ")
    Deskripsi_Film = input("Deskripsi baru: ")

    sql = "UPDATE tblFilm SET Judul_Film=%s, Jenis_Film=%s, Deskripsi_Film=%s WHERE Kode_id=%s"
    val = (Judul_Film, Jenis_Film, Deskripsi_Film)
    cursor.execute(sql, val)
    db.commit()
    print("{} data berhasil diubah".format(cursor.rowcount))
    

def delete_data(db):
    cursor = db.cursor()
    show_data(db)
    Kode_id = input("pilih kode id> ")
    sql = "DELETE FROM tblFilm WHERE Kode_id=%s"
    val = (Kode_id, )
    cursor.execute(sql, val)
    db.commit()
    print("{} data dihapus".format(cursor.rowcount))

def search_data(db):
    cursor = db.cursor()
    keyword = input("Kata kunci: ")
    sql = "SELECT * FROM tblFilm WHERE Judul_Film LIKE %s OR Jenis_Film LIKE %s OR Deskripsi_Film LIKE %s"
    val = ("%{}%".format(keyword), "%{}%".format(keyword), "%{}%".format(keyword))
    cursor.execute(sql, val)
    results = cursor.fetchall()
    
    if cursor.rowcount < 0:
        print("Tidak ada data")
    else:
        for data in results:
            print(data)
    
def show_menu(db):
    print("=== APLIKASI FILM DARI ALDIANUS  ===")
    print("1. Insert Data")
    print("2. Show Data")
    print("3. Update Data")
    print("4. Delete Data")
    print("5. Search Data")
    print("0. Exit")
    print("-----------------")
    menu = input("Pilih menu>")
    
#CLEAR SCREEN
    os.system("clear")
    
    if menu == "1":
        insert_data(db)
    elif menu == "2":
        show_data(db)
    elif menu == "3":
        update_data(db)
    elif menu == "4":
        delete_data(db)
    elif menu == "5":
        search_data(db)
    elif menu == "0":
        exit()
    else:
        print("Menu ada yang salah!")

if _name== "main_":
    while(True):
        show_menu(db)

ModuleNotFoundError: No module named 'mysql'